body {
	margin-top: 50px; /* 50px is the height of the navbar - change this if the navbarn height changes */
}

.portfolio-item {
	margin-bottom: 25px;
}

footer {
	margin: 50px 0;
}

.testimonials {
  margin-top: 20px;
  margin-bottom: 20px;
}

.testimonial-item {
  background-color: #f8f8f8;
  padding: 20px;
  border-radius: 4px;
  margin-bottom: 20px;
  min-height: 180px;
}

.testimonial-text {
  font-style: italic;
  color: #555;
}

.testimonial-author {
  margin-bottom: 0;
  margin-top: 15px;
}

.testimonial-role {
  color: #999;
  font-size: 13px;
}